.chat{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.mesage-form{
  width: 100%;
  height: 6vh;
  position: absolute;
  bottom: 0px;
  display: flex;
  background-color: #c9e5f7;
  align-items: center;
}
.mesage-form input{
  margin: 1% 2%;
  border-radius: 3px;
  border: 0px;
}
.mesage-form input[type="text"]{
  width: 76%;
  background-color: #ecf0f1;
  color:#757476;
  max-height: 90%;
}
.mesage-form input[type="submit"]{
  width: 16%;
  max-height: 90%;
  background-color: #3498db;
  color: #ffffff;
  cursor: pointer;
  text-indent: 7px;
}
.chat__header{
  height: 4vh;
  background-color: #c9e5f7;
  width: 100%;
}
.chat__out-btn{
  height: 20px;
  width: 45px;
  background-color: #f79595;
  color: #ffffff;
  float: right;
  margin: 5px 2%;
  border-radius: 3px;
  border: 0px;
}
.chat__main{
  width: 100%;
  height: 90vh;
  position: absolute;
  top:4vh;
  display: flex;
}
.chat__messages{
  overflow-y:scroll;
  width: 80%;
  background-color: white;
}
