.chat{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.mesage-form{
  width: 100%;
  height: 66px;
  position: absolute;
  bottom: 0px;
  display: flex;
  background-color: #c9e5f7;
}
.mesage-form input{
  margin: 1% 2%;
  height: 40px;
  border-radius: 3px;
  border: 0px;
}
.mesage-form input[type="text"]{
  width: 76%;
  background-color: #ecf0f1;
  color:#757476;
}
.mesage-form input[type="submit"]{
  width: 16%;
  background-color: #3498db;
  color: #ffffff;
  cursor: pointer;
  text-indent: 7px;
}
.chat__header{
  height: 30px;
  background-color: #c9e5f7;
  width: 100%;
}
.chat__out-btn{
  height: 20px;
  width: 45px;
  background-color: #f79595;
  color: #ffffff;
  float: right;
  margin: 5px 10px;
  border-radius: 3px;
  border: 0px;
}
.chat__message{
  height: 20px;
  padding: 5px 0px;
  display: block;
  text-indent: 2%;
  color: #757476;
}
.chat__message:nth-child(odd){
  background-color: #ecf0f1;
}
